{% extends 'magazine/base.html' %}

{% block title %}
История заказов
{% endblock %}

{% block content %}
<h1 class="display-4 fw-normal">История заказов</h1>

<div class="col-10 offset-2">
        <div class="alert alert-warning">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Батончики "Twix"<br>
            </b>Количество: </b>1 упаковка по 40 штук<br>
            </b>Статус: </b>Собирается<br>
        </div>
    </div>
</div>
    <div class="alert alert-warning">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Журнал "Еда"<br>
            </b>Количество: </b>1 упаковка по 200 штук<br>
            </b>Статус: </b>Собирается<br>
        </div>
    </div>
</div>
    <div class="alert alert-warning">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Картофель<br>
            </b>Количество: </b>1 упаковка по 1 кг<br>
            </b>Статус: </b>Собирается<br>
        </div>
    </div>
</div>
        <div class="alert alert-info">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Пиво "Hoegaarden"<br>
            </b>Количество: </b>1 упаковка по 9 штук<br>
            </b>Статус: </b>Отправлено<br>
        </div>
    </div>
</div>
    <div class="alert alert-danger">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Подгузники "Huggies"<br>
            </b>Количество: </b>1 упаковка по 200 штук<br>
            </b>Статус: </b>Отменено<br>
        </div>
    </div>
</div>
    <div class="alert alert-success">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Печенье "Любатово"<br>
            </b>Количество: </b>1 упаковка по 50 штук<br>
            </b>Статус: </b>Успешно<br>
        </div>
    </div>
</div>
    <div class="alert alert-success">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Молоко "МОЛКОМ"<br>
            </b>Количество: </b>1 упаковка по 9 штук<br>
            </b>Статус: </b>Успешно<br>
        </div>
    </div>
</div>
    <div class="alert alert-success">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Кефир "МОЛКОМ"<br>
            </b>Количество: </b>1 упаковка по 50 штук<br>
            </b>Статус: </b>Успешно<br>
        </div>
    </div>
</div>
    <div class="alert alert-success">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Влажные салфетки<br>
            </b>Количество: </b>1 упаковка по 100 штук<br>
            </b>Статус: </b>Успешно<br>
        </div>
    </div>
</div>
    <div class="alert alert-success">
        <div class="row">
                <div class="col-9">
            </b>Товар: </b>Батончики "Twix"<br>
            </b>Количество: </b>1 упаковка по 40 штук<br>
            </b>Статус: </b>Успешно<br>
        </div>
    </div>
</div>
</div>
{% endblock %}
