{% extends 'magazine/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>Информация</h1>
<p class="lead">
Руководство пользователя:
1) Авторизация - в полях нужно ввести электронный адрес Вашей почты и пароль. Также можно поставить галочку "Запомнить меня"
для того, чтобы в следующий раз не пришлось входить на сайт заново.
2) Главная - информация о приложение, добавление товара в корзину.
3) Оформление заказов - после добавления заказав корзину, необходимо перейти в данную вкладку, для оформления Вашего заказа.
В полях следует ввести, свои контактные данные и способ оплаты.
4) История заказов - на этой вкладке можно просмотреть всю доступную информацию по заказам, как отправленным и завершенным,
так и по тем, которые Вы изменили.
5) Информация - вкладка, на которой находитесь Вы сейчас. Здесь прописано руководство пользователя и общая информация о сайте
и его разработчике.
P.S. При нажатии на логотип сверху справа - вы всегда автоматически с любой страницы будете переходить на главную!
Сайт был разработан в рамках проекта "Сервис заказа товаров для розничных сетей" по производственной практике.
Разработчик: Сумка Андрей - 18ИТ18</p>
<p class="lead">
<a href="#" class="btn btn-lg btn-secondary fw-bold border-black bg-blue">Понятно!</a>
</p>
{% endblock %}
